.Home {
  text-align: center;
}


.welcome-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Top Section */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.slide-up {
  animation: ease-in 3s 1 fadeIn;
  background: #282c34;
  color: white;
}

/* Middle Section */

.artist-h1 {
  color: #282c34;
}

.songs-h1 {
  color: #282c34;
}

.musicvideos {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


